body {
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 0.8em;
}

h1 {
	padding: 0.5em;
	font-size: 1.6em;
} 

h2 {
	margin: 0.5em 0;
	font-size: 1.4em;	
}

p {
	margin: 0.5em 0;	
}

.ui-widget {
	font-size: 1em;	
}
p code {
    font-size: 1.25em;
}

#event_edit_container {
	display: none;
}

#about_button_container {
	position: absolute;
	top: 0em;
	right: 0em;	
	padding: 0.5em 2em;
	background: #ddf;
	border: 1px solid #bbd;
	width: 25em;
	text-align: center;
}

.wc-header td {
/*	background: url(images/header-bg.png) repeat-x;*/
}

#event_edit_container label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#event_edit_container form ul {
	padding: 0.3em;
}

#event_edit_container select,
#event_edit_container input[type='text'],
#event_edit_container textarea {
	width: 250px;
	padding: 3px;
}

#event_edit_container input[type='text'] {
	width: 245px;
}

ul.formatted,
ol.formatted {
	display: block;
	margin: 1em 0.5em;
        padding-left: 0;
}

ul.formatted li,
ol.formatted li {
	margin: 5px 30px;
	display: auto;
}

ul.formatted li {
	list-style-type: disc;
}

ol.formatted li {
	list-style-type: decimal;
}
#event_edit_container ul li { list-style: none; }
#switcher { float: left; }



.wc-container {
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
}
.wc-time, .wc-title {
    font-size: 0.85em;
    line-height: 1.5;
}
.wc-title {
    color: #111;
}
.course-title {
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;/*
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;*/
    border-bottom: 1px dotted rgba(17,17,17,0.6);
}
.course-dept-num {
    font-weight: bold;
}
#calendar { width: 74%; float: left; }
#edit_schedules { width: 26%; float: left; }
#edit_schedules > div { margin: 0 8px; padding: 4px 0 4px 8px; }
.sample_schedules dt { width: 6em; float: left; clear: left; }
.sample_schedules dd { font: 0.8em monospace; margin-left: 6em; margin-bottom: 5px; }
.wc-title a { text-decoration: underline !important; color: rgba(0, 0, 0, 0.6) !important }